$yellow-color: #ffe060;
$red-color: #ff6766;
$gray-color: #eaeaea;

$label-flex-basis: 210px;
$checkbox-size: 20px;
$checkbox-size-after: 17px;
$unchecked-bg-image: url('../images/fon-no-check.svg');
$checked-bg-image: url('../images/fon-check.svg');
$checked-image: url('../images/check-color.svg');
$search-input-size: 20px;
$height-header: 47px;